.Filter{
    width: auto;
    height: 19px;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;   
    text-decoration: none;
    list-style: none;
}
.Filter li{
    margin-right: 48px;
    color: $color-white;
    
 
}
.inactive{        
    text-decoration: none;
    color: $color-white;
}
.active{
    text-decoration: none;
    color: $color-yellow;
}