.Movie-card{
    height: 330px;
    border-radius: 8px;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
    @include small{
        height: 120px;
    }
}
.normal{
    position: absolute;
    top: 24px;
    left: 0px;
    width: 114px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0px 50px 50px 0px ;
    border: 3px solid #0E3FA9;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.01em;
    text-align: center;
    color: white;
    img{
        width: 24px;
        height: 24px;
    }
    @include small{
        width: 57px;
        height: 32px;
        top: 8px;
        font-family: $font ;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        img{
            width: 14px;
            height: 14px;
        }
    }
}
.recommended{
    @extend .normal;
    border: 3px solid $color-yellow;
}